<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right">
		<{if $pager.from == 'about'}>
		<{link ctl="article/about:index" priv="hidden" class="button"}></td>
		<{elseif $pager.from == 'help'}>
		<{link ctl="article/help:index" priv="hidden" class="button"}></td>
		<{elseif $pager.from == 'page'}>
		<{link ctl="article/page:index" priv="hidden" class="button"}></td>
        <{elseif $pager.from == 'activity'}>
		<{link ctl="article/activity:index" priv="hidden" class="button"}></td>
        
		<{else}>
		<{link ctl="article/article:index" priv="hidden" class="button"}></td>
		<{/if}>		
		</td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data" id="page-data">
<form action="?article/<{$pager.from}>-create.html" mini-form="article-form" method="post" ENCTYPE="multipart/form-data">
<ul>
    <li><a href="#table-info">基本信息</a></li>
    <li><a href="#table-seo">SEO信息</a></li>
</ul>
<table width="100%" border="0" cellspacing="0" class="table-data form" id="table-info">
<tr><th>标题：</th><td><input type="text" name="data[title]" value="<{$detail.title}>" class="input w-400"/></td></tr>
<tr><th>分类：</th><td><select name="data[cat_id]"><{widget id="article/cate" from=$pager.from}></select></td></tr>
<{if $pager.from == 'article' || $pager.from == 'activity'}>
<tr><th>缩略图：</th><td><input type="file" name="data[thumb]" class="input w-300" /></td></tr>
<{else}>
<tr><th>页面名：</th><td><input type="text" name="data[page]" value="<{$detail.page}>" class="input w-200"/>请使用拼音必须</td></tr>
<{/if}>
<tr><th>描述：</th><td><textarea name="data[desc]" class="textarea"><{$detail.desc}></textarea></td></tr>
<tr><th>内容：</th><td><textarea name="data[content]" kindeditor="full" style="width:800px;height:350px;"><{$detail.content}></textarea><br /></td></tr>
<tr>
	<th>统计：</th>
	<td>
		<label>浏览数:<input type="text" name="data[views]" value="1" class="input w-50"/></label>
		<label>收藏数:<input type="text" name="data[favorites]" value="0" class="input w-50"/></label>
		<label>图片数:<input type="text" name="data[photos]" value="0" class="input w-50"/></label>
		<label>留言数:<input type="text" name="data[comments]" value="0" class="input w-50"/></label>
	</td>
</tr>
<tr><th>排序：</th><td><input type="text" name="data[orderby]" value="50" class="input w-50"/></td></tr>
<tr>
	<th>隐藏：</th>
	<td>
		<label><input type="radio" name="data[hidden]" value="1"/>是</label>
		<label><input type="radio" name="data[hidden]" checked="checked" value="0"/>否</label>
	</td>
</tr>
<tr>
	<th>状态：</th>
	<td>
		<label><input type="radio" name="data[audit]" checked="checked" value="1"/>发布</label>
		<label><input type="radio" name="data[audit]" value="0"/>待审箱</label>
	</td>
</tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
<table width="100%" border="0" cellspacing="0" class="table-data form" id="table-seo">
<tr><th class="w-100">SEO标题：</th><td><input type="text" name="data[seo_title]" value="<{$detail.seo_title}>" class="input w-500"/></td></tr>
<tr><th>SEO关键词：</th><td><textarea name="data[seo_keywords]" class="textarea"><{$detail.seo_keywords}></textarea><br /></td></tr>
<tr><th>SEO描述：</th><td><textarea name="data[seo_description]" class="textarea"><{$detail.seo_description}></textarea><br /></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<script type="text/javascript" src="<{$pager.res}>/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
(function(K, $){
$("#page-data").tabs();
var editor = KindEditor.create('textarea[kindeditor]', {uploadJson : '?magic/upload-editor.html', extraFileUploadParams:{OATOKEN:"<{$OATOKEN}>"}});
})(window.KT, window.jQuery);
</script> 
<{include file="admin:common/footer.html"}>