<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th><{$MOD.title}></th>
            <td align="right">
                <{link ctl="article/link:so" class="button" load="mini:搜索链接标签" width="mini:400" title="搜索"}> &nbsp; &nbsp;
                <{link ctl="article/link:create" load="mini:添加链接标签" width="mini:480" class="button" title="添加"}>
            </td>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data"> 
    <form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
        <tr><th class="w-100">ID</th><th>关键字</th><th>连接</th><th>排序</th><th>添加时间</th><th class="w-150">操作</th></tr>
        <{foreach $items as $item}>
            <tr>
                <td><label><input type="checkbox" value="<{$item.link_id}>" name="link_id[]" CK="PRI"/><{$item.link_id}><label></td>
                <td><{$item.title}></td><td><{$item.link}></td><td><{$item.orderby}></td><td><{$item.dateline|format}></td>
                <td>
                    <{link ctl="article/link:edit" args=$item.link_id title="修改" load="mini:修改链接标签" width="mini:480" class="button"}>
                    <{link ctl="article/link:delete" args=$item.link_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
                </td>
            </tr>
        <{foreachelse}>
         <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
    </form>
    <div class="page-bar">
        <table>
            <tr>
            <td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
            <td colspan="10" class="left"><{link ctl="article/link:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}></td>
            <td class="page-list"><{$pager.pagebar}></td>
        </tr>
        </table>
    </div>
</div>
<{include file="admin:common/footer.html"}>