<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="data/censor:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?data/censor-create.html" mini-form="censor-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
	<tr><th>技巧：</th><td><span class="red">江湖{2}科技 {2}表示0~2位任意字符都匹配</span></td></tr>
	<tr><th>类型：</th><td><select name="data[type]" class="w-150"><{html_options options=$type_list selected=$detail.type}></select></td></tr>
	<tr><th>关键词：</th><td><input type="text" name="data[find]" value="<{$detail.find|default:''}>" class="input w-200"/></td></tr>
	<tr><th>替换词：</th><td><input type="text" name="data[replace]" value="<{$detail.replace|default:''}>" class="input w-200"/></td></tr>
	<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>