<!doctype html> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><{$CONFIG.site.title}> - 系统提示！</title>
<style type="text/css">
	.message{
		width: 550px;
		height: 250px;
		border:1px solid #ccc;
		margin: 0 auto;
		text-align: center;
	}
	.message h2{
		width: 100%;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		text-align: center;
	}
	.message p{
		font-size: 14px;
	}
</style>
</head>
<body>
	<div class="message">
		<h2><{$pager.message}></h2>
		<p>我们会尽快和你联系，请保持手机畅通!或者可以直接致电: <b>027-87011088</b></p>
	</div>
</body>
</html>