<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="designer/yuyue:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?designer/yuyue-create.html" mini-form="yuyue-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">

<tr>
    <th>设计师：</th>
	<td>
        <select  name="data[designer_id]"><{widget id="designer/index" selected=$detail.designer_id}></select>
	</td>    
</tr>
<tr><th><span class="red">*</span>手机：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-300"/></td></tr>
<tr><th><span class="red">*</span>称呼：</th><td><input type="text" name="data[contact]" value="<{$detail.contact|default:''}>" class="input w-300"/></td></tr>
<tr><th>备注：</th><td><textarea name="data[content]" class="textarea"><{$detail.content}></textarea><br /><span class="tip-comment">详细说明一般情况可以为空</span></td></tr>

    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>