<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{link ctl="decorate/yuyue:create" class="button" title="添加"}>&nbsp;&nbsp;&nbsp;<{link ctl="decorate/yuyue:so" load="mini:搜索内容" width="mini:500" class="button" title="搜索"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th><th>套餐ID</th><th>手机</th><th>联系人</th><th>描述</th><th class="w-100">创建时间</th><th>创建IP</th><th class="w-150">操作</th></tr>
    <{foreach $items as $item}>
    <tr>
    <td><label><input type="checkbox" value="<{$item.yuyue_id}>" name="yuyue_id[]" CK="PRI"/><{$item.yuyue_id}><label>  
                    <{if empty($item.is_read)}>
                        <img src="<{$pager.url}>/images/new.gif" />
                    <{/if}>
    </td>
<td><{$package[$item.package_id].title}></td>
<td><{$item.mobile}></td>
<td><{$item.contact}></td>
<td><{$item.content}></td>
<td><{$item.dateline|format}></td>
<td><{$item.create_ip}></td>
<td><{link ctl="decorate/yuyue:edit" args=$item.yuyue_id title="备注"  load="mini:备注" class="button"}><{link ctl="decorate/yuyue:delete" args=$item.yuyue_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}></td></tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"><{link ctl="decorate/yuyue:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>