/*公共样式*/
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 "微软雅黑", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 22px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
border-bottom: 1px dotted;
cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
border-collapse: collapse;
border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
.margin{
	margin: 0 auto;
}
.clear{
	clear:both;
}
/*公共头部*/
.top-nav{
	width: 100%;
	height: 34px;
	line-height: 34px;
	background-color: #fff;
	border-bottom: solid 1px #e3e1e1;
}
.top-nav .nav{
	width: 1200px;
	height: auto;	
}
.top-nav .nav ul{
	float: right;
}
.top-nav .nav ul li{
	float: left;
	margin-left:30px;
}
.top-nav .nav ul li a{
	color: #888;
}
.top-nav .nav ul li i{
	width: 20px;
	height: 20px;
	float: left;
	margin-top:7px;
	display: inline-block;
	margin-right: 5px;
	background-image: url(../images/z1-2.png);
}
.top-nav .nav ul li:first-child i{
	background-position: 38px 0px;
}
.top-nav .nav ul li:nth-child(2) i{
	background-position: 18px 0px;
}
.top-nav .nav ul li em{
	font-size: 14px;
	color: #eb0000;
}
.top-nav .nav p i{
	width: 20px;
	height: 20px;
	float: left;
	margin-top:7px;
	display: inline-block;
	margin-right: 5px;
	background-image: url(../images/z1-2.png);
	background-position: 58px 0px;
}
.top-menu{
	width: 100%;
	height: 58px;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	line-height: 58px;
}
.top-menu .menu{
	width: 1200px;
	height: auto;
}
.top-menu .menu ul{
	float: right;
}
.top-menu .menu ul li{
	height: 45px;
	float: left;
	font-size: 16px;
	margin-left: 40px;
	position: relative;
}
.top-menu .menu ul li:before{
	content: '';
    width: 0px;
    margin: 0 auto;
    height: 3px;
    display: block;
    background-color: #eb0000;
    position: absolute;
    top: 46px;
    left: 29px;
}
.top-menu .menu ul li:hover:before{
    width: 76px;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-35px);
}
.top-menu .menu ul li a{
	color: #555;
	text-decoration: none;
}
.top-menu .menu ul li:hover a{
	color: #eb0000;
}
.top-menu .menu h1{
	/*width: 230px;*/
	height: 50px;
	margin-top: 4px;
	background-image: url(../images/logo-z.png);
	background-repeat: no-repeat;
}
.top-menu .vice-menu{
	display: none;
}
/* 下拉固定导航 */
.fixed-menu{
	background-color:#c50505;
	height: 46px;
	position: fixed;
	top: 0px;
	z-index: 1000;
	line-height: 40px;
	border-bottom: none;
}
.fixed-menu .menu ul li{
	height: 42px;
}
.fixed-menu .menu ul li:before{
    background-color: #fff;
    top: 37px;
}
.fixed-menu .menu ul li a{
	color: #fff;
}
.fixed-menu .menu ul li:hover a{
	color: #fff;
}
.fixed-menu .menu h1{
	/*width: 230px;*/
	height: 50px;
	margin-top: 4px;
	background-image: url(../images/logo-zz.png);
	background-repeat: no-repeat;
}
/* 副导航 */
.vice-menu{
	width: 100%;
	height: 30px;
	position: absolute;
	top: 93px;
	background-color: #f6f6f6;
	font-size: 12px;
	line-height: 30px;
	z-index: 20
}
.vice-menu ul{
	width: 1200px;
	margin: 0 auto;
}
.vice-menu ul li{
	float: right;
	width: 80px;
	text-align: right;
	cursor: pointer;
}
.vice-menu ul li a{
	color: #888;
	text-decoration: none;
}
.vice-menu ul li:hover a{
	color: #eb0000;
}
/*尾部公共部分*/
.footer{
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
}
.footer .footer-top{
	width: 100%;
	height: 85px;
	border-top:1px solid #eb0000;
	border-bottom:1px solid #ccc;
}
.footer .footer-top .footer-ico-list {
	width: 1200px;
	height: auto;
}
.footer .footer-top .footer-ico-list ul li{
	width: 225px;
	height: auto;
	float: left;
	margin-top:14.5px;
	font-size: 14px;
	margin-left: 100px;
}
.footer .footer-top .footer-ico-list ul li:first-child{
	margin-left: 0px;
}
.footer .footer-top .footer-ico-list ul li span:first-child{
	content: '';
	width: 60px;
	height: 60px;
	display: inline-block;
	float: left;
	margin-right: 15px;
	background-image: url(../images/z1-2.png);
}	
.footer .footer-top .footer-ico-list ul li:first-child span{
	margin-left: 0px;
    background-position: 129px 63px;
}
.footer .footer-top .footer-ico-list ul li:nth-child(2) span{
	margin-left: 0px;
    background-position: 63px 63px;
}
.footer .footer-top .footer-ico-list ul li:nth-child(3) span{
	margin-left: 0px;
    background-position: 129px 129px;
}
.footer .footer-top .footer-ico-list ul li:nth-child(4) span{
	margin-left: 0px;
    background-position: 63px 129px;
}
.footer .footer-top .footer-ico-list ul li span:nth-child(2){
	line-height: 22px;
}
.footer .footer-top .footer-ico-list ul li span:nth-child(2) p{
	font-size: 18px;
    line-height: 32px;
}
.footer .footer-centent{
	width: 1200px;
	height: 195px;
}
.footer .footer-centent ul li{
	height: 145px;
	margin-top: 25px;
	float: left;
	margin-left: 110px;
}
.footer .footer-centent ul li:first-child{
	margin-left: 0px;
}
.footer .footer-centent ul li:last-child{
	margin-left: 0px;
}
.footer .footer-centent ul li .footer-title{
	color: #000;
    font-size: 18px;
    line-height: 60px;
    margin-bottom: 15px;
}
.footer .footer-centent ul li dl{
	border-left: 1px solid #ccc;
	padding-left: 15px;
}
.footer .footer-centent ul li dl dd{
	font-size: 14px;
	line-height: 20px;
}
.footer .footer-centent ul li dl dd a{
	color: #999;
}
.footer .footer-centent ul li:nth-child(4){
	width: 325px;
	border-left: 1px solid #e3e1e1;
	border-right: 1px solid #e3e1e1;
}
.footer .footer-centent ul li:nth-child(4) img{
	width: 133px;
	height: 133px;
	display: block;
	margin: 0 auto;
}
.footer .footer-centent ul li:nth-child(5){
	border-right: 1px solid #e3e1e1;
	width: 325px;
	height: auto;
	text-align: center;
}
.footer .footer-centent ul li:nth-child(5) p{
	color: #eb0000;
	margin-top: 24px;
}
.footer .footer-centent ul li:nth-child(5) p b{
	font-size: 16px;
}
.footer .footer-centent ul li:nth-child(5) p:last-child{
	width: 125px;
	height: 30px;
	margin: 0 auto;
	border-radius: 10px;
    margin-top: 20px;
	background-color: #eb0000;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.footer .footer-bottom{
	width: 100%;
	height: 118px;
	background-color: #1f1f1f;
	text-align: center;
	color: #fff;
	padding-top: 15px;
}
.footer .footer-bottom p{
	line-height: 26px;
}
/* 全局底部表单 */
.bottom-form{
	height: 390px;
    position: fixed;
    bottom: -370px;
    width: 100%;
    left: 0px;
    padding-bottom: 36px;
    background: rgba(0,0,0,0.8);
    z-index: 999
}
.dform{
	width: 980px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -33px;
}
.dform .form-ren{
	width: 100%;
	height: 89px;
	position: relative;
	background-image: url(../images/di-d1.png);	
}
@keyframes arrow{
	from,to{
		transform: translateY(10px);
	}
	40%{
		transform: translateY(8px);
	}
	80%{
		transform: translateY(12px);
	}
}
.dform .form-ren div{
	width: 61px;
    height: 46px;
	top: 45px;
    right: 25px;
    position: absolute;
	transform: rotate(180deg);
}
.dform .form-ren div.arrow-rotate-down{
	width: 61px;
    height: 46px;
	top: 29px;
    right: 25px;
    position: absolute;
    transform: none;
}
.dform .form-ren .arrow{
    animation: arrow 0.8s cubic-bezier(0.30,2.0,0.80,2.1) infinite;
}
.dform .form-ren .arrow span{
    display: block;
    position: absolute;
}
.dform .form-ren .arrow span:first-child{
	width: 61px;
    height: 32px;
    top: 0px;
    z-index: 10;
}
.dform .form-ren .arrow span:first-child i{
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 4px;
    top: 0;
    z-index: 5;
    border-bottom: 10px transparent dashed;
    border-left: 26px transparent dashed;
    border-right: 26px transparent dashed;
    overflow: hidden;
}
.dform .form-ren .arrow span:first-child i:first-child{
    top:1px;/*重要*/
    border-top:24px white solid;
}
.dform .form-ren .arrow span:first-child i:last-child{
	top: 1px;
    border-top: 20px rgba(0,0,0,0.8) solid;  
}
.dform .form-ren .arrow span:last-child{
	width: 61px;
    height: 34px;
    top: 10px;
}
.dform .form-ren .arrow span:last-child i{
	width:0;
    height:0;
    display:block;
    position:absolute;
    left:0;
    top:0;
    z-index: 5;/*兼容ie8-*/
    border-bottom:10px transparent dashed;
    border-left:30px transparent dashed;
    border-right:30px transparent dashed;
    overflow:hidden;   
}
.dform .form-ren .arrow span:last-child i:first-child{
	top:1px;/*重要*/
    border-top:30px white solid; 
}
.dform .form-ren .arrow span:last-child i:last-child{
    top: 1px;
    border-top: 22px rgba(0,0,0,0.8) solid;
}
.form-content{
	width: 100%;
	height: 370px;
	background-image: url(../images/di-d2.png);	
	background-color: #fff;
	position: relative;
}
.form-content ul{
	position: absolute;
    left: 177px;
    top: 79px;
}
.form-content ul li{
	margin-top: 11px;
}
.form-content ul li:last-child{
	margin-top: 0px;
}
.form-content ul li:nth-child(3){
	margin-top: 10px;
}
.form-content ul li:nth-child(4){
	margin-top: 11px;
}
.form-content ul li:nth-child(5){
	margin-top: 10px;
}
.form-content ul li input{
	width: 184px;
	height: 28px;
	text-indent:5px;
}
.form-content ul li:last-child i{
	position: absolute;
    bottom: 9px;
    left: 165px;
    font-size: 14px;
    font-style: normal;
}
.form-content ul li select{
	width: 188px;
    height: 32px;
}
.form-content ul p{
	width: 100%;
	height: 32px;
	font-size: 12px;
	color: #ff0000;
	line-height: 32px;
}
.form-circular{
	width: 101px;
	height: 101px;
	position: absolute;
    top: 135px;
    left: 425px;
    cursor: pointer;
	background-image: url(../images/di-d3.png);	
	background-repeat: no-repeat;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	padding-top: 25px;
	color: #fff;
}
.form-circular:hover{
	background-image: url(../images/di-d30.png);
	background-repeat: no-repeat;	
}
/* 分页样式 */
.page{
	width: 100%;
	height: auto;
}
.page em{
	display: none;
}
.page strong,.page a{
	display: inline-block;
	margin-left: 20px;
}
.page strong{
	width: 44px;
	float: left;
	background-color: #ff0000;
	text-align: center;
	color: #fff;
}
.page strong:last-child{
	margin-left: 20px;
}
.page a{
	width: 40px;
	float: left;
	margin-left: 20px;
	border:1px solid #ccc;
	text-align: center;
}
.page a.curris{
	background-color: #eb0000;
}
.page a.prev,.page a.next{
	width: 65px
}


























