/*首页样式*/
.index-bannerx{
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}
.index-bannerx a{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	display: block;
	text-align: center;
}
.index-bannerx a img{
	position:absolute;
	left: 50%;
	top:50%;
	margin-left: -960px;
	margin-top: -300px;
}

.index-bannerx .index-banner-span{
	position: absolute;
	width: 100%;
	height: 20px;
	left: 0;
	bottom: 10px;
	text-align: center;
	overflow: hidden;
}
.index-bannerx .index-banner-span span{
	display:inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	line-height: 20px;
	margin: 0px 10px;
	vertical-align: middle;
	cursor: pointer;
	box-sizing: border-box;
}
.onn{
	border: 3px solid rgb(255,95,46);
}





/*************************************************************************************/
.index-content{
	width: 1200px;
	height: auto;
}
.index-menu{
	height: 120px;
	position: relative;
	z-index: 10;
	color: #666;
	margin-top: 40px;
	background-color: #fff;
	box-shadow: 0px 0px 3px #e3e1e1;
}
.index-menu ul span{
	width: 219px;
	height: 100px;
	margin-top: 10px;
	display: inline-block;
	float: left;
	border-right: 1px solid #f6f6f6;
}
.index-menu ul li{
	width: 163px;
	height: 70px;
	text-align: center;
	margin-top: 25px;
	float: left;
	font-size: 16px;
}
.index-menu ul li p{
	width: 40px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-image: url(../images/z1-2.png);
}
.index-menu ul li:nth-child(3) p{
	background-position: -40px 0px;
}
.index-menu ul li:nth-child(4) p{
	background-position: -80px 0px;
}
.index-menu ul li:nth-child(5) p{
	background-position: -120px 0px;
}
.index-menu ul li:nth-child(6) p{
	background-position: -160px 0px;
}
.index-menu ul li:nth-child(7) p{
	background-position: -200px 0px;
}
.index-menu ul li:nth-child(2) p:hover{
	background-position: 0px -40px;
}
.index-menu ul li:nth-child(3) p:hover{
	background-position: -40px -40px;
}
.index-menu ul li:nth-child(4) p:hover{
	background-position: -80px -40px;
}
.index-menu ul li:nth-child(5) p:hover{
	background-position: -120px -40px;
}
.index-menu ul li:nth-child(6) p:hover{
	background-position: -160px -40px;
}
.index-menu ul li:nth-child(7) p:hover{
	background-position: -200px -40px;
}
.index-activity{
	width: 100%;
	height: auto;
	margin-top: 40px;
}
.index-activity ul li{
	width: 376px;
	height: 126px;
	margin-left: 36px;
	float: left; 
}
.index-activity ul li:first-child{
	margin-left: 0px;
}
.index-activity ul li span{
	width: 307px;
	display: inline-block;
	float: left;
}
.index-activity ul li p{
	width: 69px;
	height: 126px;
	float: left;
	cursor: pointer;
	background-image: url(../images/zyh-0.png);	
}
.index-activity ul li p:hover{
	background-image: url(../images/zyh-00.png);	
}
.index-diary{
	height: 526px;
	position: relative;
}
.index-diary h2{
	width: 100%;
	overflow: hidden;
	height: 70px;
	padding-top: 50px;
}
.index-diary a{
	width: 287px;
	height: auto;
	float: left;
	margin-left: 14px;
	border:1px solid #f6f6f6;
	cursor: pointer;
	transition: margin 0.5s;
	-moz-transition: margin 0.5s;	/* Firefox 4 */
	-webkit-transition: margin 0.5s;	/* Safari 和 Chrome */
	-o-transition: margin 0.5s;
}
.index-diary a:hover{
	margin-top: -10px;
}
.index-diary a img{
	width: 287px;
	height: 360px;
	display: block;
	overflow: hidden;
}
.index-diary a:nth-child(2){
	margin-left: 0px;
}
.index-diary ul{
	width: 1200px;
	height: 46px;
	position: absolute;
	top: 471px;
	left: 0px;
}
.index-diary ul li{
	width: 287px;
	height: 56px;
	line-height: 65px;
	float: left;
	margin-left: 14px;
	text-align: center;
	font-size: 16px;
	border: 1px solid #f6f6f6;
	border-top: none;
	position: relative;
	cursor: pointer;
}
.index-diary ul li:first-child{
	margin-left: 0px;
}
.index-diary ul li::before{
	content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 90px;
    top: 22px;
    background-image: url(../images/z1-2.png);
    background-position: 38px -20px;
}
.index-diary ul li:hover{
	color: #ff0000;
}
.index-diary ul li:hover::before{
    background-position: 58px -20px;
}
/*.index-diary a::before{
	width: 220px;
	height: 46px;
	line-height: 46px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	border-top: 1px solid #ccc;
	position: relative;
}
.index-diary a:hover::before{
	content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 57px;
    top: 12px;
    background-image: url(../images/z1-2.png);
    background-position: 38px -20px;
}*/
.index-form{
	height: 90px;
	padding: 45px 0;
}
.index-form .index-form-right{
	float: right;

}
.index-form .index-form-left span.index-form-left-title{
	display: inline-block;
	width: 340px;
	height: 90px;
	float:left;
	background-color: #eb0000;
	position: relative;
	overflow: hidden;
}
.index-form .index-form-left span.index-form-left-title::before{
	content: '';
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    left: 56px;
    top: 25px;
    background-image: url(../images/z1-2.png);
    background-position: -100px -80px;
}
.index-form .index-form-left span.index-form-left-title p{
	width: 200px;
    margin-left: 120px;
    margin-top: 27px;
    font-size: 16px;
    color: #fff;
}
.index-form .index-form-left span.index-form-left-title p b{
	width: 100%;
	overflow: hidden;
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
}
.index-form .index-form-left ul{
	margin-left:5px;
}
.index-form .index-form-left ul li{
	float:left;
}
.index-form .index-form-left ul li:first-child{
	width: 185px;
	margin-left: 25px;
}
.index-form .index-form-left ul li:nth-child(2){
	width: 130px;
	margin-left: 15px;
}
/*汪琪修改*/
.index-form .index-form-left ul li:last-child{
	width: 90px;
    height: 82px;
    text-align: center;
    background-color: #eb0000;
    font-size: 20px;
    padding-top: 8px;
    margin-left: 25px;
    color: #fff;
    cursor: pointer;
}
.index-form .index-form-left ul li:last-child p{
	margin-top: 10px;
}
.index-form .index-form-left ul li span{
	position: relative;
	height: 36px;
}
.index-form .index-form-left ul li span input{
	text-indent: 26px;
}
.index-form .index-form-left ul li:first-child span{
	width: 185px;
	float: left;
}
.index-form .index-form-left ul li span:nth-child(2){
	margin-top: 18px;
}
.index-form .index-form-left ul li:first-child span input{
	width: 185px;
	height: 32px;
}
.index-form .index-form-left ul li:nth-child(2) span input{
	width: 126px;
	height: 32px;
	margin-top: 18px;
}
.index-form .index-form-left ul li:nth-child(2) select{
	width: 130px;
	height: 36px;
	text-indent: 10px;
}
.index-form .index-form-left ul li span i{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	top: 7px;
	background-image: url(../images/z1-2.png);
    background-position: 60px -40px;
}
.index-form .index-form-left ul li:first-child span:nth-child(2) i{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	top: 7px;
	background-image: url(../images/z1-2.png);
    background-position: 40px -40px;
}
.index-form .index-form-left ul li:nth-child(2) span:nth-child(2) input{
	text-indent: 13px;
}
.index-form .index-form-left ul li:nth-child(2) span:nth-child(2) em{
	position: absolute;
    top: 0px;
    right: 10px;
    font-size: 16px;
}
.index-form .index-form-right{
	width: 335px;
	height: 88px;
	overflow: hidden;
	border: 1px solid rgba(255,0,0,0.5);
}
.index-form .index-form-right h2{
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	height: 26px;
	background-color: #f6f6f6;
	line-height: 26px;
	color: #000;
	text-indent: 18px;
}
.index-form-gun{
	height: 64px;
	overflow: hidden;
}
.index-form-gun ul{
	display: inline-block;
	margin-left: 18px;
	margin-top: 5px;
}
.index-form-gun ul li{
	height: 12px;
	width: 100%;
}
.index-form-gun ul li p{
	float: left;
	margin-left: 20px;
	line-height: 18px;
}
.index-form-gun ul li p:first-child{
	margin-left: 0px;
}
.index-form-gun ul li p a{
	color: #999;
}
.index-design h2{
	width: 100%;
	overflow: hidden;
	margin-bottom: 28px;
}
.index-design ul li{
	width: 225px;
	height: 315px;
	overflow: hidden;
	float: left;
	position: relative;
	margin-left: 18px;
}
.index-design ul li:first-child{
	margin-left: 0px;
}
.index-design ul li:last-child{
	margin-left: 19px;
}
.index-design ul li p{
	width: 225px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 16px;
	background-color: #eb0000;
	position: absolute;
	color: #fff;
	bottom: 0px;
}
.index-design ul li img{
	width: 225px;
	height: 315px;
}
.index-design ul li dl{
	width: 145px;
	height: 260px;
	text-align: center;
	line-height: 26px;
	position: relative;
	z-index: 20;
	background-color: rgba(0,0,0,0.3);
	padding:40px;
	color: #fff;
	font-size: 14px;
}
.index-design ul li dl dt{
	font-size: 18px;
}
.index-design ul li dl dt a{
	color: #fff;
}
.index-design ul li dl dd:nth-child(3){
	height: 106px;
	text-align: left;
	line-height: 18px;
	margin-top:15px;
}
.index-design ul li dl dd:last-child{
	width: 70%;
    height: 28px;
    cursor: pointer;
    margin: 0 auto;
	background-color: #eb0000;
	text-align: center;
	line-height: 28px;
	border-radius: 10px;
}
.index-design ul li dl dd:last-child:hover{
	background-color: #c11600;
}
.index-sketch{
	width: 100%;
	overflow: hidden;
	height: 62px;
	padding: 40px 0;
}
.index-sketch ul{
	width: 80%;
	float: left;
	font-size: 14px;
	color: #666;
} 
.index-sketch ul li{
	float: left;
	width: 100%;
}
.index-sketch ul li p{
	float: left;
}
.index-sketch ul li a{
	display: inline-block;
	float: left;
	color: #666;
	margin-left: 30px;
} 
.index-sketch ul li{
	margin-top: 10px;
}
.index-sketch ul li:first-child{
	margin-top: 0px;
}
.index-sketch .index-sketch-a{
	width: 80px;
    float: right;
    margin-right: 10px;
    font-size: 12px;
    line-height: 36px;
}
.index-sketch .index-sketch-a a{
	width: 100%;
	overflow: hidden;
	color: #999;
}
.index-case{
	width: 1200px;
	height: 370px;
	position: relative;
}
.index-case ul li{
	position: absolute;
	overflow: hidden;
}
.index-case ul li:first-child{
	width: 465px;
	height: 370px;
}
.index-case ul li span{
	width: 100%;
	height: 28px;
	display: none;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 0px;
	z-index: 5;
}
.index-case ul li span a{
	width: 45%;
	float: left;
	text-decoration: none;
	background-color: rgba(255,0,0,0.6); 
	color: #fff;
}
.index-case ul li a img{
	transition: all  1s ease-in;
	-moz-transition: all  1s ease-in;	/* Firefox 4 */
	-webkit-transition: all  1s ease-in;	/* Safari 和 Chrome */
	-o-transition: all  1s ease-in;
}
.index-case ul li a:hover img{
	transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2); 	/* IE 9 */
	-moz-transform:scale(1.2,1.2); 	/* Firefox */
	-webkit-transform:scale(1.2,1.2); /* Safari 和 Chrome */
	-o-transform:scale(1.2,1.2); 	/* Opera */	
}
.index-case ul li span a:last-child{
	float: right;
}
.index-case ul li:hover span{
	display: block;
}
.index-case ul li:first-child p{
	width: 465px;
	height: 28px;
	background-color: rgba(0,0,0,0.3); 
	color: #fff;
	text-align: center;
	line-height: 28px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}
.index-case ul li:nth-child(2){
	width: 235px;
	height: 180px;
	left:475px;
}
.index-case ul li:nth-child(2) p{
	width: 235px;
	height: 28px;
	background-color: rgba(0,0,0,0.3); 
	color: #fff;
	text-align: center;
	line-height: 28px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}
.index-case ul li:nth-child(3){
	width: 235px;
	height: 180px;
	left:720px;
}
.index-case ul li:nth-child(3) p{
	width: 235px;
	height: 28px;
	background-color: rgba(0,0,0,0.3); 
	color: #fff;
	text-align: center;
	line-height: 28px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}
.index-case ul li:nth-child(4){
	width: 235px;
	height: 180px;
	left:965px;
}
.index-case ul li:nth-child(4) p{
	width: 235px;
	height: 28px;
	background-color: rgba(0,0,0,0.3); 
	color: #fff;
	text-align: center;
	line-height: 28px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}
.index-case ul li:nth-child(5){
	width: 235px;
	height: 180px;
	left:475px;
	top: 190px;
}
.index-case ul li:nth-child(5) p{
	width: 235px;
	height: 28px;
	background-color: rgba(0,0,0,0.3); 
	color: #fff;
	text-align: center;
	line-height: 28px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}
.index-case ul li:nth-child(6){
	width: 480px;
	height: 180px;
	left:720px;
	top: 190px;
}
.index-case ul li:nth-child(6) p{
	width: 480px;
	height: 28px;
	background-color: rgba(0,0,0,0.3); 
	color: #fff;
	text-align: center;
	line-height: 28px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}
.index-process h2{
	width: 100%;
    overflow: hidden;
    height: 32px;
	padding: 45px 0px 40px 0px;
}
.index-process ul li{
	width: 155px;
	height: 340px;
	overflow: hidden;
	margin-left: 19px;
	cursor: pointer;
	float: left;
	border-bottom: 2px solid #eb0000;
}
.index-process ul li p{
	opacity: 0;
}
.index-process ul li:first-child{
	margin-left: 0px;
}
.index-process ul li:last-child{
	width: 156px;
}
.index-article ul{
	margin-top: 43px;
}
.index-article ul li{
	height: 126px;
	float:left;
}
.index-article ul li:first-child{
	width: 329px;
	text-align: center;
	line-height: 126px;
	background-color: #eb0000;
	color: #fff;
	font-size: 22px;
	position: relative;
}
.index-article ul li p{
	width:0; 
    height:0; 
    border-top:15px solid transparent;
    border-bottom:15px solid transparent; 
    border-right:15px solid #fff; 
    position: absolute;
    right: 0px;
    top: 40px;
}
.index-article ul li:nth-child(2){
	width: 491px;
	height: 114px;
	margin-left:19px;
	padding: 5px;
	color: #666;
	border: 1px solid #f6f6f6;
}
.index-article ul li:nth-child(2) dl{
	width: 100%;
	overflow: hidden;
	position: relative;
	float:left;
	margin-top: 8px;
	font-size: 14px;
}
.index-article ul li:nth-child(2) dl dd{
	float: left;
	text-indent: 2em;
}
.index-article ul li:nth-child(2) dl dd a{
	color: #666;
}
.index-article ul li:nth-child(2) dl:first-child{
	margin-top: 6px;
}
.index-article ul li:nth-child(2) dl:before{
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	background-image: url(../images/z1-2.png);
    background-position: 60px -63px;
    position: absolute;
}
.index-article ul li:nth-child(2) dl dd:last-child{
	float: right;
	margin-right: 5px;
	font-size: 12px;
}
.index-article ul li:last-child{
	width: 330px;
	height: 126px;
	overflow: hidden;
	margin-left: 19px;
	overflow: hidden;
}
.index-construction h2{
	width: 100%;
    overflow: hidden;
    height: 32px;
    padding: 45px 0px 40px 0px;
}
.index-construction .index-construction-left{
	float: left;
}
.index-construction .index-construction-left ul li{
	width: 201px;
	height: 293px;
	overflow: hidden;
	float: left;
	margin-left: 16px;
	position: relative;
	box-shadow: 0px 0px 3px #ccc;
}
.index-construction .index-construction-left ul li:hover{
	box-shadow: 0px 0px 3px #eb0000;
}
.index-construction .index-construction-left ul li:first-child{
	margin-left: 0px;
}
.index-construction .index-construction-left ul li p{
	width: 201px;
    height: 36px;
    background-color:#f6f6f6;
    color: #393939;
    text-align: center;
    line-height: 36px;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
}
.index-construction .index-construction-left ul li img{
	width: 100%;
	height: 100%;
}
.index-construction .index-construction-right{
	width: 331px;
    height: 291px;
    float: left;
    margin-left: 15px;
    background-color: #fff;
	border: 1px solid #f6f6f6;
    box-shadow: 0px 0px 3px #fff;
}
.index-construction .index-construction-right h3{
	width: 102px;
	height: 45px;
	margin: 0 auto;
	margin-top: -20px;
	background-image: url(../images/z1-2.png);
    background-position: 0px -80px;
    background-color: #fff;
}
.index-construction .index-construction-right .index-construction-right-gl{
	height: 240px;
	margin-top: 20px;
	overflow: hidden;
}
.index-construction .index-construction-right ul li{
	width: 90%;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom: 1px dashed #ccc;
}
.index-construction .index-construction-right ul li p{
	margin-top:5px;
	color: #999;
	line-height: 16px;
}
.index-construction .index-construction-right ul li p:first-child{
	color: #eb0000;
	font-size: 16px;
}
.index-construction .index-construction-right ul li p span{
	font-size: 12px;
	color:#ccc;
	float: right;
}
.index-work ul{
	margin-top: 45px;
}
.index-work ul li{
	width: 255px;
	height: 256px;
	overflow: hidden;
	background-color: #f6f6f6;
	float: left;
	margin-left: 20px;
	margin-bottom: 60px;
}
.index-work ul li a{
	width: 255px;
	height: 210px;
	display: block;
	overflow: hidden;	
}
.index-work ul li img{
	width: 255px;
	height: 210px;
	overflow: hidden;
	transition: all  1s ease-in;
	-moz-transition: all  1s ease-in;	/* Firefox 4 */
	-webkit-transition: all  1s ease-in;	/* Safari 和 Chrome */
	-o-transition: all  1s ease-in;
}
.index-work ul li img:hover{
	transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2); 	/* IE 9 */
	-moz-transform:scale(1.2,1.2); 	/* Firefox */
	-webkit-transform:scale(1.2,1.2); /* Safari 和 Chrome */
	-o-transform:scale(1.2,1.2); 	/* Opera */	
}
.index-work ul li p{
    width: 90%;
    margin: 0 auto;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    font-size: 14px;
    border-bottom: 1px solid #eb0000;
    text-align: center;
}
.index-work ul li p b{
	color: #fff;
 
}
.index-work ul li p b{
	width: 75px;
	height: 25px;
	background-color: #eb0000;
	float: right;
}
.index-work ul li:first-child{
	width: 100px;
	text-indent: center;
	background-color: #eb0000;
	margin:0 auto;
	margin-left: 0px;
	line-height:24px;
}
.index-work ul li:first-child span{
	margin: 0 auto;
	display: block;
	margin-top: 40px;
    width: 20px;
    line-height: 42px;
    color: #fff;
    font-size: 26px;
}
.index-work ul li:first-child a{
	margin-left: 24px;
	font-size: 14px;
	color: #fff;
}



