<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{link ctl="system/emailtmpl:create"  class="button" title="添加"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th><th>标题</th><th>KEY</th><th>可使用标签</th><th>是否启用</th><th class="w-100">创建时间</th><th class="w-150">操作</th></tr>
    <{foreach $items as $item}>
    <tr><td><label><input type="checkbox" value="<{$item.systmpl_id}>" name="systmpl_id[]" CK="PRI"/><{$item.systmpl_id}><label></td>
<td><{$item.title}></td>
<td><{$item.key}></td><td><{$item.intro}></td>
<td><{if $item.is_open}>启用<{else}>未启用<{/if}></td>
<td><{$item.dateline|format}></td>
<td><{link ctl="system/emailtmpl:edit"  args=$item.systmpl_id title="修改" class="button"}></td></tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>