<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td style="width:30px;" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th align="left"><{$MOD.title}></th>
        <td></td>
      </tr>
    </table>
</div>
<{* widget id="uitips/notice" title="Tips" msg="修改时只能修改父级,不能修改层级" *}>
<div class="page-data">
	<form action="?article/class-save.html" mini-form="article-form" method="post">
	<input type="hidden" name="ID" value="<{$class.class_id}>">
	<table width="100%" border="0" cellspacing="0" class="table-data form">
		<tr>
			<th width="150">菜单标题:</th>
			<td><input type="text" name="data[title]" class="input w-200" value="<{$class.title}>"></td>
		</tr>
		<tr>
			<th width="150">上级菜单:</th>
			<td>
				<select name="data[parent_id]" val="<{$class.parent_id}>">
				<option value="0">顶级菜单</option>
				<{foreach $class_tree as $v}>
				<option value="<{$v.class_id}>"<{if $v.class_id==$class.parent_id || $v.class_id==$pager.PID}>selected="selected"<{/if}>>|--<{$v.title}></option>
				<{foreach $v.children as $vv}>
				<option value="<{$vv.class_id}>"<{if $vv.class_id==$class.parent_id || $vv.class_id==$pager.PID}>selected="selected"<{/if}>>&nbsp;&nbsp;&nbsp;&nbsp;|--<{$vv.title}></option>
				<{/foreach}>
				<{/foreach}>
				</select>
			</td>
		</tr>
		<tr>
			<th width="150">排序：</th>
			<td><input type="text" name="data[orderby]" class="input w-50" value="<{if $class.orderby}><{$class.orderby}><{else}>50<{/if}>"></td>
		</tr>
		<tr>
			<th class="form-button-th"></th>
			<td class="form-button-td"><input type="submit" class="bt-big"  value="提  交  数  据" /></td>
		</tr>
	</table>
	</form>
</div>

<{include file="admin:common/footer.html"}>