<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="product/yuyue:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?product/yuyue-edit.html" mini-form="yuyue-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="yuyue_id" value="<{$detail.yuyue_id}>"/>
<tr><th><span class="red">*</span>手机：</th><td><{$detail.mobile|default:''}></td></tr>
<tr><th><span class="red">*</span>联系人：</th><td><{$detail.contact|default:''}></td></tr>
<tr><th>备注：</th><td><textarea name="data[content]" class="textarea"><{$detail.content}></textarea><br /></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>