<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="tenders/setting:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?tenders/setting-edit.html" mini-form="setting-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="setting_id" value="<{$detail.setting_id}>"/>
<tr><th><span class="red">*</span>类型：</th>
    <td>
        <select id="checkmenu"  name="data[type]" class="input w-100">
            <{foreach from=$type  item=item key=key}>
            <option <{if $detail.type == $key}> selected="selected"<{/if}> value="<{$key}>"><{$item}></option>
            <{/foreach}>
        </select>

    </td>
</tr>
<tr><th><span class="red">*</span>名称：</th><td><input type="text" name="data[name]" value="<{$detail.name|default:''}>" class="input w-300"/></td></tr>
<tr class="hide" id="budget"><th><span class="red">*</span>装修预算：</th><td><input type="text" name="data[budget]" value="<{$detail.budget|default:''}>" class="input w-300"/>前台招标预算时计算依据，单位元/平米</td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<script>
$(document).ready(function() {
            if($("#checkmenu").attr("value") == 3){
                $("#budget").show();
            }else{
                $("#budget").hide();
            }
            $("#checkmenu").change(function(){                
                if(this.value == 3){
                $("#budget").show();
                }else{
                    $("#budget").hide();
                }
            });
        });
</script>
<{include file="admin:common/footer.html"}>