<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?system/config-site.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="site" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th class="w-100">网站名称：</th><td><input type="text" name="config[title]" value="<{$config.title}>" class="input w-300"/></td></tr>
<tr><th class="w-100">网站网址：</th><td><input type="text" name="config[siteurl]" value="<{$config.siteurl}>" class="input w-300"/></td></tr>
<tr><th class="w-100">LOGO：</th><td><input type="text" name="config[logo]" value="<{$config.logo}>" class="input w-300"/><input type="file" name="config[logo]" /></td></tr>
<tr><th class="w-100">微信二维码：</th><td><input type="text" name="config[weixin]" value="<{$config.weixin}>" class="input w-300"/><input type="file" name="config[weixin]" /></td></tr>
<tr><th class="w-100">手机二维码：</th><td><input type="text" name="config[shouji]" value="<{$config.shouji}>" class="input w-300"/><input type="file" name="config[shouji]" /></td></tr>
<tr><th class="w-100">安卓下载地址：</th><td><input type="text" name="config[android]" value="<{$config.android}>" class="input w-300"/></td></tr>
<tr><th class="w-100">IOS下载地址：</th><td><input type="text" name="config[ios]" value="<{$config.ios}>" class="input w-300"/></td></tr>

<tr><th class="w-100">联系邮箱：</th><td><input type="text" name="config[mail]" value="<{$config.mail}>" class="input w-300"/></td></tr>
<tr><th class="w-100">客服QQ：</th><td><input type="text" name="config[kfqq]" value="<{$config.kfqq}>" class="input w-300"/><span class="tip-comment">多个QQ用","分隔</span></td></tr>
<tr><th class="w-100">联系电话：</th><td><input type="text" name="config[phone]" value="<{$config.phone}>" class="input w-300"/></td></tr>
<tr><th class="w-100">联系手机：</th><td><input type="text" name="config[cellphone]" value="<{$config.cellphone}>" class="input w-300"/></td></tr>
<tr><th class="w-100">地址：</th><td><input type="text" name="config[addr]" value="<{$config.addr}>" class="input w-300"/></td></tr>
<tr><th class="w-100">开启3G版：</th>
	<td>
		<label><input type="radio" name="config[mobile]" <{if $config.mobile}>checked="checked"<{/if}> value="1"/>开启</label>&nbsp;&nbsp;
		<label><input type="radio" name="config[mobile]" <{if empty($config.mobile)}>checked="checked"<{/if}> value="0"/>关闭</label>
		<span class="tip-comment">请务必在 网站设置->3G版设置中配置正确，否刚网站可能无法运行</span>
	</td>
</tr>
<tr>
	<th>开启伪静态：</th><td>
		<label><input type="radio" name="config[rewrite]" <{if $config.rewrite}>checked="checked"<{/if}> value="1"/>开启</label>&nbsp;&nbsp;
		<label><input type="radio" name="config[rewrite]" <{if empty($config.rewrite)}>checked="checked"<{/if}> value="0"/>关闭</label>
	</td>
</tr>
<tr><th>统计代码：</th><td><textarea name="config[tongji]" class="textarea"><{$config.tongji}></textarea><br /></td></tr>
<tr><th>网站基本介绍：</th><td><textarea name="config[jianjie]" class="textarea"><{$config.jianjie}></textarea><br /></td></tr>
<tr><th class="w-100">备案信息：</th><td><input type="text" name="config[icp]" value="<{$config.icp}>" class="input w-300"/></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>