<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="system/config:tmplsms" class="button" title="短息模版"}></td>
		<td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<h4 class="tip-notice">需要短息服务的用户通过官方客服 <{"800070067,800070067"|qq}>联系购买。</h4>
<form action="?system/config-sms.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="sms" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>企业ID：</th><td><input type="text" name="config[comid]" value="<{$config.comid|default:'70'}>" class="input w-200"/></td></tr>
<tr><th>所用平台：</th><td><input type="text" name="config[smsnumber]" value="<{$config.smsnumber|default:'10690'}>" class="input w-200"/></td></tr>
<tr><th>帐号：</th><td><input type="text" name="config[uname]" value="<{$config.uname|default:''}>" class="input w-200"/></td></tr>
<tr><th>密码：</th><td><input type="password" name="config[passwd]" value="<{$config.passwd|default:''}>" class="input w-200"/></td></tr>

<tr><th>管理员接收通知手机：</th><td><input type="text" name="config[mobile]" value="<{$config.mobile|default:''}>" class="input w-200"/>多个手机号用英文,隔开</td></tr>
 <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>