<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="system/theme:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?system/theme-edit.html" mini-form="theme-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="theme_id" value="<{$detail.theme_id}>"/>
<tr><th><span class="red">*</span>ID：</th><td><input type="text" name="data[theme_id]" value="<{$detail.theme_id|default:''}>" class="input w-300"/></td></tr>
<tr><th><span class="red">*</span>模板：</th><td><input type="text" name="data[theme]" value="<{$detail.theme|default:''}>" class="input w-300"/></td></tr>
<tr><th>名称：</th><td><input type="text" name="data[title]" value="<{$detail.title|default:''}>" class="input w-300"/></td></tr>
<tr><th>配置：</th><td><input type="text" name="data[config]" value="<{$detail.config|default:''}>" class="input w-300"/></td></tr>
<tr><th>默认：</th><td><label><input type="radio" name="data[default]" <{if $detail.default}>checked="checked"<{/if}> value="1"/>是</label>&nbsp;&nbsp;<label><input type="radio" name="data[default]" <{if isset($detail.default) && empty($detail.default)}>checked="checked"<{/if}> value="0"/>否</label></td></tr>
<tr><th><span class="red">*</span>安装时间：</th><td><input type="text" name="data[dateline]" value="<{$detail.dateline|default:''}>" class="input w-300"/></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>