<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr>
		<th class="left"><label><input type="checkbox" checked CKA="PRI"/>&nbsp;&nbsp;全选</label></th>
		<th colspan="3"><span class="right">总大小：<{$pager.totalsize|format:"size"}></span></th>
	</tr>
	<tr>
	    <{foreach $table_list as $table}>
		<td class="left"<{if $table@last}>colspan="4"<{/if}>>
            <label><input type="checkbox" name="tables[]" value="<{$table.Name}>" checked  CK="PRI"/><{$table.Name}><{if $table.Data_free}>[<b class="red">碎片:<{$table.Data_free|format:"size"}></b>]<{/if}></label>
        </td>
		<{if $table@iteration % 4 === 0}></tr><tr><{/if}>
		<{/foreach}>
	</tr>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" checked CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left">
				<{link ctl="tools/database:optimize" type="button" submit="mini:#items-form"  priv="hide" value="优化表"}>
			</td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>