<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{link ctl="market/links:create" load="mini:添加友情链接" width="mini:600" class="button" title="添加"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr>
		<th class="left"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></th>
		<th colspan="3"></th>
	</tr>
	<tr>
	    <{foreach $table_list as $table}>
		<td class="left"<{if $table@last}>colspan="4"<{/if}>><label><input type="checkbox" name="tables[]" value="<{$table.Name}>"  CK="PRI"/><{$table.Name}></label></td>
		<{if $table@iteration % 4 === 0}></tr><tr><{/if}>
		<{/foreach}>
	</tr>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left">
				<{link ctl="market/links:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}>
			</td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>