<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right">
				<{link ctl="activity/activity:create" class="button" title="添加"}>
				<{link ctl="activity/activity:so" load="mini:搜索内容" width="mini:450" class="button" title="搜索"}>
			</td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr>
        <th class="w-100">ID</th><th>标题</th>
        <th>电话</th><th>咨询QQ</th><th>活动时间</th><th>报名截止日期</th>
        <th class="w-50">报名人数</th><th class="w-50">浏览数</th><th class="w-50">审核</th>
        <th>IP来源</th><th class="w-100">添加时间</th><th class="w-150">操作</th>
    </tr>
    <{foreach $items as $item}>
    <tr>
        <td><label><input type="checkbox" value="<{$item.activity_id}>" name="activity_id[]" CK="PRI"/><{$item.activity_id}><label></td>
        <td><{$item.title}></td><td><{$item.phone}></td><td><{$item.qq}></td>
        <td><{$item.expire_label}></td><td><{$item.end_sign|format:'Y-m-d'}></td>
        <td><{$item.sign_num}></td><td><{$item.views}></td><td><{if $item.audit}>正常<{else}><b class="red">待审</b><{/if}></td>
        <td><{$item.clientip}>(<{$item.clientip|iplocal}>)</td><td><{$item.dateline|format}></td>
        <td>
            <{link ctl="activity/yuyue:index" args=$item.activity_id class="button" title="报名管理"}>
            <{link ctl="activity/lanmu:activity" args=$item.activity_id class="button" title="栏目"}>
            <{link ctl="activity/activity:edit" args=$item.activity_id title="修改" class="button"}>
            <{link ctl="activity/activity:delete" args=$item.activity_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
        </td>
    </tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left">
                <{link ctl="activity/activity:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}>
                <{link ctl="activity/activity:doaudit" type="button" submit="mini:#items-form" confirm="mini:确定要批量审核选中的内容吗?" priv="hide" value="批量审核"}></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>