@charset "utf-8";
img { border: 0px; }
.bannerbox {   overflow: hidden; margin: 0px auto; }
#focus {  clear: both; overflow: hidden; position: relative; float: left; }
    #focus ul {  float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
        #focus ul li { float: left;  overflow: hidden; position: relative; padding: 0px; margin: 0px; }
    #focus .preNext { width: 100px; position: absolute; top: 0px; cursor: pointer; }
    #focus .pre { left: 0; background: url(../images/sprite-left.png) no-repeat left center; }
    #focus .next { right: 0; background: url(../images/sprite-right.png) no-repeat right center; }
