<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{link ctl="case/comment:create" class="button" title="添加"}>&nbsp;&nbsp;&nbsp;<{link ctl="case/comment:so" load="mini:搜索内容" width="mini:500" class="button" title="搜索"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th><th class="w-50">案例</th><th>昵称</th><th>内容</th><th>创建IP</th><th class="w-100">创建时间</th><th class="w-50">是否审核</th><th class="w-150">操作</th></tr>
    <{foreach $items as $item}>
    <tr><td><label><input type="checkbox" value="<{$item.comment_id}>" name="comment_id[]" CK="PRI"/><{$item.comment_id}><label></td>
<td><{$caseList[$item.case_id].title}></td>
<td><{$item.nickname}></td>
<td><{$item.content|cutstr:150}></td>
<td><{$item.create_ip}></td>
<td><{$item.dateline|format}></td>
<td><{if $item.audit}>正常<{else}><b class="red">待审</b><{/if}></td>
<td><{link ctl="case/comment:edit" args=$item.comment_id title="修改" class="button"}><{link ctl="case/comment:delete" args=$item.comment_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}></td></tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"><{link ctl="case/comment:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}>&nbsp;&nbsp;&nbsp;<{link ctl="case/comment:doaudit" type="button" submit="mini:#items-form" confirm="mini:确定要批量审核选中的内容吗?" priv="hide" value="批量审核"}></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>