<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="data/area:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>ID：</th><td><{$detail.area_id}></td></tr>
<tr><th>城市：</th><td><{$detail.city_id}></td></tr>
<tr><th>地区：</th><td><{$detail.area_name}></td></tr>
<tr><th>排序：</th><td><{$detail.orderby}></td></tr>
</table></div>
<{include file="admin:common/footer.html"}>