<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right">
				<{link ctl="data/area:so" load="mini:搜索地区" width="mini:400" class="button" title="搜索"}> &nbsp; &nbsp;
				<{link ctl="data/area:create" load="mini:添加地区" width="mini:400" class="button" title="添加"}>
			</td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th><th class="w-150">城市</th><th>地区</th><th class="w-100">排序</th><th class="w-150">操作</th></tr>
    <{foreach $items as $item}>
    <tr>
		<td class="left"><label><input type="checkbox" value="<{$item.area_id}>" name="area_id[]" CK="PRI"/><{$item.area_id}><label></td>
		<td><{$city_list[$item.city_id].city_name}>(<{$item.city_id}>)</td><td><{$item.area_name}></td><td><{$item.orderby}></td>
		<td>
			<{link ctl="data/area:edit" args=$item.area_id title="修改"  load="mini:修改地区" width="mini:400" class="button"}>
			<{link ctl="data/area:delete" args=$item.area_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
		</td>
	</tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"><{link ctl="data/area:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>