<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th><{$MOD.title}></th>
            <td align="right"><{link ctl="tenders/tenders:so" class="button" title="搜索"}> &nbsp; &nbsp;<{link ctl="tenders/tenders:create" class="button" title="添加"}></td>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data">	
    <form id="items-form">
        <table width="100%" border="0" cellspacing="0" class="table-data table">
            <tr>
                <th class="w-100">ID</th>


                <th>称呼</th>
                <th>手机</th>

                <th>IP</th>
                <th>创建时间</th>
                <th>是否审核</th>

                <th class="w-150">操作</th></tr>
            <{foreach $items as $item}>
            <tr><td><label><input type="checkbox" value="<{$item.id}>" name="id[]" CK="PRI"/><{$item.id}><label>    <{if empty($item.is_read)}>
                        <img src="<{$pager.url}>/images/new.gif" />
                    <{/if}></td>

                            <td>

                                <{$item.name}></td><td>
                                <{$item.mobile}></td>

                            <td><{$item.create_ip}></td><td><{$item.dateline|format}></td>
                            <td><{if $item.audit}>已审核<{else}><span class="red">待审核</span><{/if}></td>         

                            <td>

                                <{link ctl="tenders/tenders:edit" args=$item.id title="跟踪联系" class="button"}>
                                <{link ctl="tenders/tenders:delete" args=$item.id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}></td>
                            </tr>
                            <{foreachelse}>
                            <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
                            <{/foreach}>
                            </table>
                            </form>
            <div class="page-bar">
                <table>
                    <tr>
                        <td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
                        <td colspan="10" class="left"><{link ctl="tenders/tenders:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}></td>
                        <td class="page-list"><{$pager.pagebar}></td>
                    </tr>
                </table>
            </div>
            </div>
            <{include file="admin:common/footer.html"}>