<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="adv/adv:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?adv/adv-index.html" id="SO-form" method="post">
<table width="100%" border="0" cellspacing="0" class="table-data form">
	<tr><th>广告位ID：</th><td><input type="text" name="SO[adv_id]" value="" class="input w-100"/></td></tr>
	<tr><th>广告位标题：</th><td><input type="text" name="SO[title]" value="" class="input w-200"/></td></tr>
	<tr>
		<th>添加时间：</th>
		<td>
			<input type="text" name="SO[dateline][0]" value="" class="input w-100" date="dateline" readonly/>~
			<input type="text" name="SO[dateline][1]" value="" class="input w-100" date="dateline" readonly/>
		</td>
	</tr>
	<tr><th>审核：</th>
		<td>
			<label><input type="radio" name="SO[audit]" checked="checked" value="NULL"/>全部</label>
			<label><input type="radio" name="SO[audit]" value="0"/>显示</label>
			<label><input type="radio" name="SO[audit]" value="1"/>隐藏</label>
		</td>
	</tr>
	<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="搜 索" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>